/* Colors: */
:root {
  --white: #ffffff;
  --white-2: #f0f2f5;
  --brown: #773b21;
  --card: #fcfac7;
  --red: #ff1744;
  --black: #212121;
  --cream: #e0e2e5;
  --blue: #0866ff;
  --selected: #eebf00;
}

.app {
  text-align: center;
  background: var(--white-2) 0% 0% no-repeat padding-box;
}

/* Welcome page */

.welcome-div-wrapper {
  background: var(--white-2) 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  align-content: center;
  align-self: center;
}

.welcome-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55vw;
  height: 60vh;
  margin: auto;

  background: var(--white) 0% 0% no-repeat padding-box;
  border: 1px solid var(--cream);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 1rem;
}

.welcome-logo {
  /* margin-top: 48px; */
  width: 18%;
  height: 14%;
}

.p-1 {
  margin: 32px 0 0 0;
  font: normal normal 500 24px/28px Rubik;
}

.p-2 {
  margin: 8px 0 0 0;
  color: var(--black);
  font: normal normal normal 16px/19px Rubik;
}

.p-3 {
  margin: 10px 0 0 0;
  font: normal normal 300 14px/17px Rubik;
}

.MuiButton-root.add-file-button {
  width: 280px;
  height: 55px;
  margin: 133px 0 0 0;
  background: var(--blue) 0% 0% no-repeat padding-box !important;
  border-radius: 6px !important;
  opacity: 1 !important;
  font: normal normal bold 18px/22px Rubik;
}

/* Top - Search and logo */
.head-div {
  display: flex;
  justify-content: center;
  direction: rtl;
  align-items: center;
  position: fixed;
  width: 100%;
  background: var(--white) 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 3px 6px #00000029 !important;
  z-index: 1000;
  margin-bottom: 4px;
  padding: 0.5rem 0;
  justify-content: space-between;
  max-width: calc(100vw);

}

.logo {
  width: 136px;
  height: 56px;
  right: 2rem;
  cursor: pointer;
}

.search-bar {
  width: 40%;
  min-height: 3rem;
  display: flex;
  direction: rtl;
  justify-content: flex-start;
  padding: 0.5rem;
  background: var(--white) 0% 0% no-repeat padding-box !important;
  border: 1px solid var(--cream) !important;
  /* box-shadow: 0px 3px 6px #00000029 !important; */
  border-radius: 1rem !important;
  opacity: 1 !important;
  margin: auto;
  padding: 0 1rem 0 0;
}

.search-bar ::placeholder {
  text-align: right;
  color: var(--black);
  letter-spacing: 0px;
  opacity: 0.4;
  margin-top: 0.2rem;
}

.search-bar input {
  direction: rtl;
  font-family: "Rubik" !important;
  font-variant: normal !important;
  font-weight: medium !important;
  font-size: 1.2rem !important;
  letter-spacing: 0px !important;
  margin-top: 0.4rem;
  padding-right: 1rem;
}

.search-icon {
  width: 24px !important;
  height: 24px !important;
  color: var(--blue);
  padding: 0.8rem 0;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
}

.search-bar .MuiInput-root::before,
.search-bar .MuiInput-root::after {
  border-bottom: none !important;
}

.color-dropdown {
  margin-left: 2rem;
  max-height: 3rem;
  direction: rtl !important;
  border: 1px solid var(--cream) !important;
  /* box-shadow: 0px 3px 6px #00000029 !important; */
  border-radius: 1rem !important;
  min-width: 8rem;
}

/* File name and delete icon */
.file-info-div {
  position: fixed;
  right: 1.5rem;
  top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 12vw;
  min-width: 12vw;
  flex-wrap: wrap;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  direction: rtl;

  .disclaimer {
    direction: rtl;
    font: normal Rubik;
    font-size: 0.8rem;
    margin: 0.2rem 0;
  }

  .file-name {
    font: normal normal 500 22px Rubik;
    margin: 0.2rem 0 1.5rem;
    text-align: right;
  }
}

.delete {
  display: flex;
  justify-content: center;
  direction: rtl;
  align-items: center;
  align-content: center;
  border: 1px solid var(--red) !important;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  font-size: 0.8rem;
  cursor: pointer;

  .delete-icon {
    color: var(--red);
    margin-left: 0.5rem;
  }
  .action-name {
    margin: 0;
  }
}

/* Loader animation */
.loader-div {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.loader-animation {
  width: 3.5rem;
  height: 3.5rem;
}

.loader-p-1 {
  font: normal normal 500 24px/28px Rubik;
  margin-bottom: 8px !important;
}

.loader-p-2 {
  font: normal normal normal 16px/19px Rubik;
}

/* No results animation */

.no-results-div {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-box-animation {
  width: 220px;
  height: 220px;
}

.no-results-p1 {
  font: normal normal 500 24px/28px Rubik;
  margin: 1.5rem 0 0 0;
}

.no-results-p2 {
  font: normal normal normal 16px/19px Rubik;
  margin: 0.5rem 0 0 0;
}

/* Data page */
.display-page {
  padding: 5rem 0;
  background-color: var(--white-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

/* Accordions */
.MuiAccordion-root {
  width: 70%;
  margin-top: 16px !important;
  border: 1px solid var(--cream) !important;
  box-shadow: 0px 3px 6px #00000029 !important;
  border-radius: 16px !important;
  background-color: var(--white);
}

.MuiPaper-root.MuiAccordion-root:before {
  display: none !important;
}

.MuiAccordionSummary-root {
  transition:
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.accordion-summary {
  overflow: hidden !important;
  border-radius: 1rem !important;
}

.MuiAccordionSummary-root.Mui-expanded {
  background-color: var(--blue);
  border-radius: 1rem 1rem 0 0 !important;
  color: var(--white) !important;
}

.MuiTypography-root.accordion-head-text {
  font: normal Rubik;
  font-size: 1.2rem;
  text-align: right !important;
  position: relative !important;
  margin-left: auto !important;
  max-width: calc(65vw - 6rem) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion-head-text-column {
  color: #455a64;
  opacity: 1;
  font: normal Rubik;
}
/* .MuiAccordionSummary-gutters {
  background-color: var(--blue);
} */

.MuiAccordionSummary-root.Mui-expanded .accordion-head-text .accordion-head-text-column {
  color: var(--white);
}

/* Expand more icon */
.expand-more-icon {
  margin: auto 10px !important;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiAccordionSummary-root.Mui-expanded .expand-more-icon {
  color: var(--white);
  transform: rotate(180deg);
}

/* Cards */
.MuiCard-root {
  width: calc(33.33%);
  box-sizing: border-box;
  /* padding: 0 16px; */
  text-align: right;
  /* margin: 16px 6px; */
  float: right;
  clear: none;
  box-shadow: none !important;
}

.column-name {
  color: var(--blue);
}

.color-dropdown {
  direction: rtl;
  align-self: flex-end;
  border-radius: 1rem;
  max-width: 8rem;
}
